---
import Container from "@components/container.astro";
import Link from "@components/ui/link.astro";
import Dropdown from "./dropdown.astro";
import { Astronav, MenuItems, MenuIcon } from "astro-navbar";

const menuitems = [
  {
    title: "Программа",
    path: "/",
  },
  {
    title: "Спикеры",
    path: "/",
  },
  {
    title: "Навыки",
    path: "/",
  },
  {
    title: "Записаться",
    path: "/",
  },
];
---

<Container>
  <header class="flex flex-col lg:flex-row justify-between items-center my-5">
    <Astronav>
      <div class="flex w-full lg:w-auto items-center justify-between">
        <a href="/" class="text-lg"
          ><svg width="160" height="40" viewBox="0 0 160 40" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M41.4529 12.7298H44.4494L48.4623 22.5245H48.6207L52.6337 12.7298H55.6302V26.2471H53.2805V16.9605H53.1551L49.4194 26.2075H47.6637L43.928 16.9407H43.8025V26.2471H41.4529V12.7298ZM60.0325 26.2471H57.4188L62.1776 12.7298H65.2005L69.9659 26.2471H67.3522L63.7419 15.5019H63.6363L60.0325 26.2471ZM60.1183 20.9471H67.2466V22.9139H60.1183V20.9471ZM71.7463 26.2471V12.7298H76.8153C77.8537 12.7298 78.725 12.9102 79.429 13.271C80.1374 13.6318 80.672 14.1378 81.0329 14.7891C81.3981 15.4359 81.5807 16.1905 81.5807 17.0529C81.5807 17.9198 81.3959 18.6722 81.0263 19.3102C80.661 19.9438 80.122 20.4345 79.4092 20.7821C78.6964 21.1253 77.8207 21.2969 76.7823 21.2969H73.172V19.264H76.4523C77.0595 19.264 77.5567 19.1804 77.9439 19.0132C78.3312 18.8416 78.6172 18.593 78.802 18.2674C78.9912 17.9374 79.0858 17.5326 79.0858 17.0529C79.0858 16.5733 78.9912 16.1641 78.802 15.8253C78.6128 15.4821 78.3246 15.2225 77.9373 15.0465C77.5501 14.8661 77.0507 14.7759 76.4391 14.7759H74.195V26.2471H71.7463ZM78.7294 20.122L82.0757 26.2471H79.3432L76.0563 20.122H78.7294ZM83.8347 26.2471V12.7298H86.2833V18.9406H86.4484L91.7219 12.7298H94.7119L89.4845 18.7954L94.7581 26.2471H91.8143L87.7816 20.4521L86.2833 22.2209V26.2471H83.8347ZM96.4131 26.2471V12.7298H105.205V14.7825H98.8618V18.4522H104.749V20.5049H98.8618V24.1944H105.257V26.2471H96.4131ZM107.109 14.7825V12.7298H117.894V14.7825H113.716V26.2471H111.287V14.7825H107.109ZM122.421 12.7298V26.2471H119.973V12.7298H122.421ZM136.181 12.7298V26.2471H134.003L127.634 17.0397H127.522V26.2471H125.073V12.7298H127.264L133.627 21.9437H133.746V12.7298H136.181ZM147.905 17.0463C147.795 16.6899 147.643 16.3709 147.449 16.0893C147.26 15.8033 147.031 15.5591 146.763 15.3567C146.499 15.1543 146.195 15.0025 145.852 14.9013C145.509 14.7957 145.135 14.7429 144.73 14.7429C144.004 14.7429 143.357 14.9255 142.79 15.2907C142.222 15.6559 141.775 16.1927 141.45 16.9011C141.129 17.6052 140.968 18.4632 140.968 19.4752C140.968 20.4961 141.129 21.3607 141.45 22.0691C141.771 22.7775 142.218 23.3166 142.79 23.6862C143.362 24.0514 144.026 24.234 144.783 24.234C145.469 24.234 146.063 24.102 146.565 23.838C147.071 23.574 147.46 23.2 147.733 22.7159C148.006 22.2275 148.142 21.6555 148.142 20.9999L148.697 21.0857H145.027V19.1716H150.512V20.7953C150.512 21.9525 150.266 22.9536 149.773 23.7984C149.28 24.6432 148.602 25.2944 147.74 25.7521C146.877 26.2053 145.887 26.4319 144.77 26.4319C143.524 26.4319 142.431 26.1525 141.489 25.5936C140.552 25.0304 139.82 24.2318 139.292 23.1978C138.768 22.1593 138.506 20.9273 138.506 19.5016C138.506 18.4104 138.66 17.4357 138.968 16.5777C139.281 15.7197 139.716 14.9915 140.275 14.393C140.834 13.7902 141.489 13.3326 142.242 13.0202C142.994 12.7034 143.813 12.545 144.697 12.545C145.445 12.545 146.143 12.655 146.789 12.875C147.436 13.0906 148.01 13.3986 148.512 13.799C149.018 14.1994 149.434 14.6746 149.76 15.2247C150.085 15.7747 150.299 16.3819 150.4 17.0463H147.905Z" fill="url(#paint0_linear_18_357)"/>
            <path d="M41.4529 12.7298H44.4494L48.4623 22.5245H48.6207L52.6337 12.7298H55.6302V26.2471H53.2805V16.9605H53.1551L49.4194 26.2075H47.6637L43.928 16.9407H43.8025V26.2471H41.4529V12.7298ZM60.0325 26.2471H57.4188L62.1776 12.7298H65.2005L69.9659 26.2471H67.3522L63.7419 15.5019H63.6363L60.0325 26.2471ZM60.1183 20.9471H67.2466V22.9139H60.1183V20.9471ZM71.7463 26.2471V12.7298H76.8153C77.8537 12.7298 78.725 12.9102 79.429 13.271C80.1374 13.6318 80.672 14.1378 81.0329 14.7891C81.3981 15.4359 81.5807 16.1905 81.5807 17.0529C81.5807 17.9198 81.3959 18.6722 81.0263 19.3102C80.661 19.9438 80.122 20.4345 79.4092 20.7821C78.6964 21.1253 77.8207 21.2969 76.7823 21.2969H73.172V19.264H76.4523C77.0595 19.264 77.5567 19.1804 77.9439 19.0132C78.3312 18.8416 78.6172 18.593 78.802 18.2674C78.9912 17.9374 79.0858 17.5326 79.0858 17.0529C79.0858 16.5733 78.9912 16.1641 78.802 15.8253C78.6128 15.4821 78.3246 15.2225 77.9373 15.0465C77.5501 14.8661 77.0507 14.7759 76.4391 14.7759H74.195V26.2471H71.7463ZM78.7294 20.122L82.0757 26.2471H79.3432L76.0563 20.122H78.7294ZM83.8347 26.2471V12.7298H86.2833V18.9406H86.4484L91.7219 12.7298H94.7119L89.4845 18.7954L94.7581 26.2471H91.8143L87.7816 20.4521L86.2833 22.2209V26.2471H83.8347ZM96.4131 26.2471V12.7298H105.205V14.7825H98.8618V18.4522H104.749V20.5049H98.8618V24.1944H105.257V26.2471H96.4131ZM107.109 14.7825V12.7298H117.894V14.7825H113.716V26.2471H111.287V14.7825H107.109ZM122.421 12.7298V26.2471H119.973V12.7298H122.421ZM136.181 12.7298V26.2471H134.003L127.634 17.0397H127.522V26.2471H125.073V12.7298H127.264L133.627 21.9437H133.746V12.7298H136.181ZM147.905 17.0463C147.795 16.6899 147.643 16.3709 147.449 16.0893C147.26 15.8033 147.031 15.5591 146.763 15.3567C146.499 15.1543 146.195 15.0025 145.852 14.9013C145.509 14.7957 145.135 14.7429 144.73 14.7429C144.004 14.7429 143.357 14.9255 142.79 15.2907C142.222 15.6559 141.775 16.1927 141.45 16.9011C141.129 17.6052 140.968 18.4632 140.968 19.4752C140.968 20.4961 141.129 21.3607 141.45 22.0691C141.771 22.7775 142.218 23.3166 142.79 23.6862C143.362 24.0514 144.026 24.234 144.783 24.234C145.469 24.234 146.063 24.102 146.565 23.838C147.071 23.574 147.46 23.2 147.733 22.7159C148.006 22.2275 148.142 21.6555 148.142 20.9999L148.697 21.0857H145.027V19.1716H150.512V20.7953C150.512 21.9525 150.266 22.9536 149.773 23.7984C149.28 24.6432 148.602 25.2944 147.74 25.7521C146.877 26.2053 145.887 26.4319 144.77 26.4319C143.524 26.4319 142.431 26.1525 141.489 25.5936C140.552 25.0304 139.82 24.2318 139.292 23.1978C138.768 22.1593 138.506 20.9273 138.506 19.5016C138.506 18.4104 138.66 17.4357 138.968 16.5777C139.281 15.7197 139.716 14.9915 140.275 14.393C140.834 13.7902 141.489 13.3326 142.242 13.0202C142.994 12.7034 143.813 12.545 144.697 12.545C145.445 12.545 146.143 12.655 146.789 12.875C147.436 13.0906 148.01 13.3986 148.512 13.799C149.018 14.1994 149.434 14.6746 149.76 15.2247C150.085 15.7747 150.299 16.3819 150.4 17.0463H147.905Z" fill="#1F222E"/>
            <path d="M18.7977 0.74684C19.5761 0.286248 20.5435 0.286249 21.3219 0.746841L28.6855 5.10436L36.1467 9.28053C36.9389 9.72396 37.4253 10.5651 37.4143 11.473L37.3112 20L37.4143 28.527C37.4253 29.4349 36.9389 30.276 36.1467 30.7195L28.6855 34.8956L21.3219 39.2532C20.5435 39.7138 19.5761 39.7138 18.7977 39.2532L11.4341 34.8956L3.97292 30.7195C3.18067 30.276 2.69433 29.4349 2.70531 28.527L2.80837 20L2.70531 11.473C2.69433 10.5651 3.18067 9.72396 3.97292 9.28053L11.4341 5.10436L18.7977 0.74684Z" fill="#D9D9D9"/>
            <path d="M18.7977 0.74684C19.5761 0.286248 20.5435 0.286249 21.3219 0.746841L28.6855 5.10436L36.1467 9.28053C36.9389 9.72396 37.4253 10.5651 37.4143 11.473L37.3112 20L37.4143 28.527C37.4253 29.4349 36.9389 30.276 36.1467 30.7195L28.6855 34.8956L21.3219 39.2532C20.5435 39.7138 19.5761 39.7138 18.7977 39.2532L11.4341 34.8956L3.97292 30.7195C3.18067 30.276 2.69433 29.4349 2.70531 28.527L2.80837 20L2.70531 11.473C2.69433 10.5651 3.18067 9.72396 3.97292 9.28053L11.4341 5.10436L18.7977 0.74684Z" fill="url(#paint1_linear_18_357)"/>
            <path d="M7.30145 26.2471V12.7298H9.75014V18.4522H16.0138V12.7298H18.4691V26.2471H16.0138V20.5049H9.75014V26.2471H7.30145ZM21.1323 26.2471V12.7298H26.2012C27.2397 12.7298 28.1109 12.9102 28.8149 13.271C29.5234 13.6318 30.058 14.1378 30.4188 14.7891C30.784 15.4359 30.9666 16.1905 30.9666 17.0529C30.9666 17.9198 30.7818 18.6722 30.4122 19.3102C30.047 19.9438 29.508 20.4345 28.7951 20.7821C28.0823 21.1253 27.2067 21.2969 26.1682 21.2969H22.5579V19.264H25.8382C26.4454 19.264 26.9427 19.1804 27.3299 19.0132C27.7171 18.8416 28.0031 18.593 28.1879 18.2674C28.3771 17.9374 28.4717 17.5326 28.4717 17.0529C28.4717 16.5733 28.3771 16.1641 28.1879 15.8253C27.9987 15.4821 27.7105 15.2225 27.3233 15.0465C26.9361 14.8661 26.4366 14.7759 25.825 14.7759H23.5809V26.2471H21.1323ZM28.1153 20.122L31.4616 26.2471H28.7291L25.4422 20.122H28.1153Z" fill="url(#paint2_linear_18_357)"/>
            <path d="M7.30145 26.2471V12.7298H9.75014V18.4522H16.0138V12.7298H18.4691V26.2471H16.0138V20.5049H9.75014V26.2471H7.30145ZM21.1323 26.2471V12.7298H26.2012C27.2397 12.7298 28.1109 12.9102 28.8149 13.271C29.5234 13.6318 30.058 14.1378 30.4188 14.7891C30.784 15.4359 30.9666 16.1905 30.9666 17.0529C30.9666 17.9198 30.7818 18.6722 30.4122 19.3102C30.047 19.9438 29.508 20.4345 28.7951 20.7821C28.0823 21.1253 27.2067 21.2969 26.1682 21.2969H22.5579V19.264H25.8382C26.4454 19.264 26.9427 19.1804 27.3299 19.0132C27.7171 18.8416 28.0031 18.593 28.1879 18.2674C28.3771 17.9374 28.4717 17.5326 28.4717 17.0529C28.4717 16.5733 28.3771 16.1641 28.1879 15.8253C27.9987 15.4821 27.7105 15.2225 27.3233 15.0465C26.9361 14.8661 26.4366 14.7759 25.825 14.7759H23.5809V26.2471H21.1323ZM28.1153 20.122L31.4616 26.2471H28.7291L25.4422 20.122H28.1153Z" fill="white"/>
            <defs>
            <linearGradient id="paint0_linear_18_357" x1="40.1196" y1="30.5233" x2="46.7878" y2="-8.90132" gradientUnits="userSpaceOnUse">
            <stop stop-color="#2589E7"/>
            <stop offset="1" stop-color="#1B2EDA"/>
            </linearGradient>
            <linearGradient id="paint1_linear_18_357" x1="0" y1="40" x2="39.9998" y2="-0.119431" gradientUnits="userSpaceOnUse">
            <stop stop-color="#2589E7"/>
            <stop offset="1" stop-color="#1B2EDA"/>
            </linearGradient>
            <linearGradient id="paint2_linear_18_357" x1="5.9682" y1="30.5233" x2="25.2687" y2="4.03304" gradientUnits="userSpaceOnUse">
            <stop stop-color="#2589E7"/>
            <stop offset="1" stop-color="#1B2EDA"/>
            </linearGradient>
            </defs>
            </svg>
            
        </a>
        <div class="block lg:hidden">
          <MenuIcon class="w-4 h-4 text-gray-800" />
        </div>
      </div>
      <MenuItems class="hidden w-full lg:w-auto mt-2 lg:flex lg:mt-0">
        <ul class="flex flex-col lg:flex-row lg:gap-3">
          {
            menuitems.map((item, index) => (
              <>
                {item.children && (
                  <Dropdown
                    title={item.title}
                    children={item.children}
                    lastItem={index === menuitems.length - 1}
                  />
                )}

                {!item.children && (
                  <li>
                    <a
                      href={item.path}
                      class="flex lg:px-3 py-2 items-center text-gray-600 hover:text-gray-900">
                      <span> {item.title}</span>
                      {item.badge && (
                        <span class="ml-1 px-2 py-0.5 text-[10px] animate-pulse font-semibold uppercase text-white bg-indigo-600 rounded-full">
                          New
                        </span>
                      )}
                    </a>
                  </li>
                )}
              </>
            ))
          }
        </ul>
        <div class="lg:hidden flex items-center mt-3 gap-4">
          <Link href="#" style="muted" block size="md">Log in</Link>
          <Link href="#" size="md" block>Sign up</Link>
        </div>
      </MenuItems>
    </Astronav>
  </header>
</Container>
