---
---
<section class="for-whom-container">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Для кого:
  </h2>
  <div class="for-whom-content">
    <p>○ Для специалистов, вовлеченных в подбор, найм и развитие квалифицированного персонала.<br>○ Для топ-менеджмента, HRD и управленцев среднего звена</p>
  </div>
</section>

<style>
  .for-whom-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5rem;
  }

  .for-whom-content {
    background: black; /* Gradient background */
    color: white;
    padding: 20px;
    border-radius: 8px;
    max-width: 500px;
    font-size: 1.125rem; /* 18px */
    line-height: 1.75rem; /* 28px */
  }

  .for-whom-content p {
    margin: 0;
  }

  @media (max-width: 700px) {
    .for-whom-container {
      flex-direction: column;
      gap: 28px;

    }
  }

</style>
