---
---


<div class="mt-16 md:mt-16">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Cпикеры
  </h2>
  <p class="text-2xl mt-4 text-slate-600">
    Мы собрали экспертов, которые дадут навыки, необходимые для работы в HR-маркетинге. И это не только интуиция, но и портфолио кейсов с Яндекс Такси, Х5, ТК Мегаполис и Анкор.
    <br>
    <br>
    Программа интенсива это HR и маркетинг в равной степени, чтобы подсветить важность и синергию обоих компонентов. 
  </p>
</div>

<div class="mt-16 md:mt-16">

<div class="grid gap-8 mb-6 lg:mb-16 md:grid-cols-2">
  <div class="items-center bg-gray-50 rounded-lg shadow sm:flex dark:bg-gray-800 dark:border-gray-700">
    <a href="#">
        <img class="w-full rounded-lg sm:rounded-none sm:rounded-l-lg" src="src/assets/liger.jpg" alt="Alexey Avatar">
    </a>
    <div class="p-5">
        <h3 class="text-xl font-bold tracking-tight text-gray-900 dark:text-white">
            <a href="#">Алексей Лигер</a>
        </h3>
        <span class="text-gray-500 dark:text-gray-400">Основатель агентства «В точку!»</span>
        <p class="mt-3 mb-4 font-light text-gray-500 dark:text-gray-400">С 2015 года внедряет маркетинг 360</p>
    </div>
</div>
<div class="items-center bg-gray-50 rounded-lg shadow sm:flex dark:bg-gray-800 dark:border-gray-700">
  <a href="#">
      <img class="w-full rounded-lg sm:rounded-none sm:rounded-l-lg" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/avatars/michael-gouch.png" alt="Michael Avatar">
  </a>
  <div class="p-5">
      <h3 class="text-xl font-bold tracking-tight text-gray-900 dark:text-white">
          <a href="#">Сергей Колонтаев</a>
      </h3>
      <span class="text-gray-500 dark:text-gray-400">исполнительный директор агентства «Кадры онлайн».</span>
      <p class="mt-3 mb-4 font-light text-gray-500 dark:text-gray-400">Michael drives the technical strategy of the flowbite platform and brand.</p>
  </div>
</div> 
<div class="items-center bg-gray-50 rounded-lg shadow sm:flex dark:bg-gray-800 dark:border-gray-700">
  <a href="#">
      <img class="w-full rounded-lg sm:rounded-none sm:rounded-l-lg" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/avatars/michael-gouch.png" alt="Michael Avatar">
  </a>
  <div class="p-5">
      <h3 class="text-xl font-bold tracking-tight text-gray-900 dark:text-white">
          <a href="#">Сергей Колонтаев</a>
      </h3>
      <span class="text-gray-500 dark:text-gray-400">исполнительный директор агентства «Кадры онлайн».</span>
      <p class="mt-3 mb-4 font-light text-gray-500 dark:text-gray-400">Michael drives the technical strategy of the flowbite platform and brand.</p>
  </div>
</div> 
<div class="items-center bg-gray-50 rounded-lg shadow sm:flex dark:bg-gray-800 dark:border-gray-700">
  <a href="#">
      <img class="w-full rounded-lg sm:rounded-none sm:rounded-l-lg" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/avatars/michael-gouch.png" alt="Michael Avatar">
  </a>
  <div class="p-5">
      <h3 class="text-xl font-bold tracking-tight text-gray-900 dark:text-white">
          <a href="#">Сергей Колонтаев</a>
      </h3>
      <span class="text-gray-500 dark:text-gray-400">исполнительный директор агентства «Кадры онлайн».</span>
      <p class="mt-3 mb-4 font-light text-gray-500 dark:text-gray-400">Michael drives the technical strategy of the flowbite platform and brand.</p>
  </div>
</div>  
</div>  
</div>

<div class="mt-16 md:mt-16" id="program">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Программа
  </h2>

  <div class="space-y-4 mt-8 md:mt-8 text-xl">
    <details class="group rounded-lg bg-gray-50 p-6 [&_summary::-webkit-details-marker]:hidden" closed>
      <summary class="flex cursor-pointer items-center justify-between gap-1.5 text-gray-900">
        <h2 class="font-medium">Агентства или HR в штате?</h2>
  
        <span class="relative size-5 shrink-0">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="absolute inset-0 size-5 opacity-100 group-open:opacity-0"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            stroke-width="2"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M12 9v3m0 0v3m0-3h3m-3 0H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"
            />
          </svg>
  
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="absolute inset-0 size-5 opacity-0 group-open:opacity-100"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            stroke-width="2"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M15 12H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"
            />
          </svg>
        </span>
      </summary>
  
      <p class="mt-4 leading-relaxed text-gray-700">
        Проведём объективный анализ преимуществ и недостатков использования рекрутинговых агентств и внутренних HR-специалистов. Поможем определить, какой вариант наиболее эффективен и экономически выгоден для вашей компании
      </p>
    </details>
    <details class="group rounded-lg bg-gray-50 p-6 [&_summary::-webkit-details-marker]:hidden" closed>
      <summary class="flex cursor-pointer items-center justify-between gap-1.5 text-gray-900">
        <h2 class="font-medium">Нестандартные диджитал-инструменты в подборе персонала</h2>
  
        <span class="relative size-5 shrink-0">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="absolute inset-0 size-5 opacity-100 group-open:opacity-0"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            stroke-width="2"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M12 9v3m0 0v3m0-3h3m-3 0H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"
            />
          </svg>
  
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="absolute inset-0 size-5 opacity-0 group-open:opacity-100"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            stroke-width="2"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M15 12H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"
            />
          </svg>
        </span>
      </summary>
  
      <p class="mt-4 leading-relaxed text-gray-700">
        Раскроем все digital-инструменты для поиска и привлечения талантов, включая социальные сети и специализированные платформы. Разберем реальные кейсы успешного использования digital-инструментов в hr-сфере.
      </p>
    </details>
    <details class="group rounded-lg bg-gray-50 p-6 [&_summary::-webkit-details-marker]:hidden" closed>
      <summary class="flex cursor-pointer items-center justify-between gap-1.5 text-gray-900">
        <h2 class="font-medium">Отличия между наймом линейного и квалифицированного линейного персонала
        </h2>
  
        <span class="relative size-5 shrink-0">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="absolute inset-0 size-5 opacity-100 group-open:opacity-0"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            stroke-width="2"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M12 9v3m0 0v3m0-3h3m-3 0H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"
            />
          </svg>
  
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="absolute inset-0 size-5 opacity-0 group-open:opacity-100"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            stroke-width="2"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M15 12H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"
            />
          </svg>
        </span>
      </summary>
  
      <p class="mt-4 leading-relaxed text-gray-700">
        Рассмотрим особенности мотивации и ожиданий разных категорий сотрудников. Выделим наиболее эффективные методы подбора для каждой категории персонала.
      </p>
    </details>
    <details class="group rounded-lg bg-gray-50 p-6 [&_summary::-webkit-details-marker]:hidden" closed>
      <summary class="flex cursor-pointer items-center justify-between gap-1.5 text-gray-900">
        <h2 class="font-medium">А вам точно нужны корпоративные соцсети и HR-бренд?
        </h2>
  
        <span class="relative size-5 shrink-0">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="absolute inset-0 size-5 opacity-100 group-open:opacity-0"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            stroke-width="2"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M12 9v3m0 0v3m0-3h3m-3 0H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"
            />
          </svg>
  
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="absolute inset-0 size-5 opacity-0 group-open:opacity-100"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            stroke-width="2"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M15 12H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"
            />
          </svg>
        </span>
      </summary>
  
      <p class="mt-4 leading-relaxed text-gray-700">
        Вы освоите техники создания привлекательного HR-бренда компании, что позволит находить лучших специалистов на рынке труда. Научим формировать уникальное ценностное предложение, которое выделит вашу компанию среди конкурентов
  
      </p>
    </details>
    <details class="group rounded-lg bg-gray-50 p-6 [&_summary::-webkit-details-marker]:hidden" closed>
      <summary class="flex cursor-pointer items-center justify-between gap-1.5 text-gray-900">
        <h2 class="font-medium">Основы управления репутацией в интернете
        </h2>
  
        <span class="relative size-5 shrink-0">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="absolute inset-0 size-5 opacity-100 group-open:opacity-0"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            stroke-width="2"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M12 9v3m0 0v3m0-3h3m-3 0H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"
            />
          </svg>
  
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="absolute inset-0 size-5 opacity-0 group-open:opacity-100"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            stroke-width="2"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M15 12H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"
            />
          </svg>
        </span>
      </summary>
  
      <p class="mt-4 leading-relaxed text-gray-700">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ab hic veritatis molestias culpa in,
        recusandae laboriosam neque aliquid libero nesciunt voluptate dicta quo officiis explicabo
        consequuntur distinctio corporis earum similique!
      </p>
    </details>
    <details class="group rounded-lg bg-gray-50 p-6 [&_summary::-webkit-details-marker]:hidden" closed>
      <summary class="flex cursor-pointer items-center justify-between gap-1.5 text-gray-900">
        <h2 class="font-medium">Как соискателю продать работодателя?
        </h2>
  
        <span class="relative size-5 shrink-0">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="absolute inset-0 size-5 opacity-100 group-open:opacity-0"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            stroke-width="2"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M12 9v3m0 0v3m0-3h3m-3 0H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"
            />
          </svg>
  
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="absolute inset-0 size-5 opacity-0 group-open:opacity-100"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            stroke-width="2"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M15 12H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"
            />
          </svg>
        </span>
      </summary>
  
      <p class="mt-4 leading-relaxed text-gray-700">
        Объясним, как эффективно коммуницировать ценности и культуру работодателя потенциальным кандидатам.
      </p>
    </details>
  </div>
</div>